.vscode
/docs/.astro
/docs/.cache
/docs/src/content/docs/api/README.md
/src/full-types.d.ts
/src/obsidian/implementations/**/*.d.ts
/tsconfig.tsbuildinfo
/workflow-scripts
dist/
docs/src/content/docs/api/namespaces/**/*
index.d.ts
index.ts
node_modules/
