node_modules/
dist/
/src/obsidian/implementations/**/*.d.ts
.vscode

index.d.ts
index.ts

/tsconfig.tsbuildinfo
docs/src/content/docs/api/namespaces/**/*

/docs/.astro
/docs/src/content/docs/api/README.md
/src/full-types.d.ts

/docs/.cache

/workflow-scripts/.env
